certifi==2018.10.15
chardet==3.0.4
get==1.0.3
graphviz==0.10.1
idna==2.7
liac-arff==2.3.1
numpy==1.15.4
pandas==0.23.4
post==1.0.2
public==2.0.1
python-dateutil==2.7.5
pytz==2018.7
query-string==1.0.2
requests==2.20.1
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
sklearn==0.0
urllib3==1.24.1
